<div class="row">
    <div class="col-md-10">
        <input type="url" #url class="form-control" placeholder="Page url">
    </div>
    <div class="col-md-2">
        <input class="btn btn-default" type="button" value="Load" (click)="loadPage(url.value)" style="width:100%">
    </div>
    <br />
    <div class="form-group" *ngIf="modelA">
        <label>Selected element:</label>
        <input type="text" class="form-control" [value]="modelA.selectedElementSelector" name="selectedElementSelector"/>
    </div>
    <div class="form-group" *ngIf="modelA">
        <label>Html:</label>
        <textarea class="form-control" readonly>{{modelA.selectedElementHtml}}</textarea>
    </div>
    <h1 *ngIf="modelB">Variation</h1>
    <div class="form-group" *ngIf="modelB">
        <label>Html:</label>
        <textarea class="form-control">{{modelB.selectedElementHtml}}</textarea>
    </div>
    <input type="button" class="btn btn-success" value="Save" (click)="save(url.value)">
</div>


<div class="portlet box yellow blue" id="browser-portlet" *ngIf="src">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>Page
        </div>
        <!--<div class="browser-controls actions pull-left">
            <div class="btn-group btn-group-solid">
                <button type="button" class="btn btn-sm" (click)="goBackPageClick()"><i class="fa fa-arrow-left"></i></button>
                <button type="button" class="btn btn-sm" (click)="goForwardPageClick()"><i class="fa fa-arrow-right"></i></button>
                <button type="button" class="btn btn-sm" (click)="reloadPageClick()"><i class="fa fa-repeat"></i></button>
            </div>
        </div>-->
        <!--<div class="actions">
            <div class="btn-group">
                <label class="btn red btn-sm setLink active" (click)="linkModeClick()">
                    Link Mode
                </label>
                <label class="btn red btn-sm setSelect" (click)="selectModeClick()">
                    Select Mode
                </label>
            </div>
        </div>-->
    </div>
    <div class="portlet-body">
        <div *blockUI="'frame'">
            <iframe style="width:100%;" height="600" [src]="src" (load)="onLoad()" #iframe></iframe>
        </div>
    </div>
</div>

